[Desktop Entry]
Type=Application
Exec=/home/UX/irnux/Desktop/UACA/Run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=echo2
Name=test
Comment[en_US]=
Comment=