[Desktop Entry]
Type=Application
Exec=/opt/gti/perconik/uaca/run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=PerConIK UACA
Comment=PerConIK User Activity Central Application