[Desktop Entry]
Type=Application
Exec=/opt/gti/perconik/uaca/run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=echo2
Name=test
Comment[en_US]=
Comment=